snippet init "Template" b
<!DOCTYPE html>
<html lang='en' style="scroll-behavior: smooth">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Title</title>

<!-- Stylesheets and Scripts -->
</head>

<body>

</body>

</html>
endsnippet

snippet div "div tag"
<div class="$1">$0</div>
endsnippet
