[Desktop Entry]
Icon=font-ttf
Name=System San Francisco Display Regular.ttf
Type=Link
URL[$e]=file:$HOME/.local/share/fonts/System San Francisco Display Regular.ttf
X-KDE-LastOpenedWith=systemsettings
