[Desktop Entry]
Categories=GTK;System;TerminalEmulator;
Comment=Use the command line
Exec=termite
Icon=Terminal
Name=Termite
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
